input[type="text"]{
    height: 70px;
    width:80%;
    margin-top: 55px;
    margin-left: 40px;
    background: #fff;
    padding: 0 25px;
    font-size: 17px;
    box-shadow: rgba(8, 0, 0, 0.836) 0px 5px 15px;
    outline: none;
    border: none;
    /* border-radius: 15px 0 0 15px; */
    border-radius: 15px;
    position: relative;
}
input[type="button"]{
height: 55px;
width:10%;
font-size: 17px;
margin-top: 61px;
box-shadow: rgba(8, 0, 0, 0.836) 0px 5px 15px;
outline: none;
border: none;
border-radius: 0 15px 15px 0;
background: rgb(81,64,168);
position: absolute;
cursor: pointer;
}
.contentwd1 .searchtxt>input[type="button"]{
    margin-left: -143px;
}
 .submenu-1{
    display: none;
 }
 .menu-hg3 ul li:hover .submenu-1{
    display: block;
    position: absolute;
    background:  rgb(235,237,244);
    margin-top: 5px;
    margin-left: 0;

 }

 .menu-hg3 ul li:hover .submenu-1 ul
 {
    display: block;
    margin: 5px 0;
    box-shadow: rgba(8, 0, 0, 0.836) 0px 5px 15px;
 }
 .menu-hg3 ul li:hover .submenu-1 ul li
 {
    margin: 5px 0;
    padding: 10px;
    width: 200px;
text-align: left;
background: transparent;
 }
 .menu-hg3 ul li:hover .submenu-1 ul li a
 {
    color: rgb(52, 100, 143);
 }
.contentwd3{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    margin-top: 98px;
}
.content-flex{
    margin: 15px;
    padding: 5px;
    width: 370px;
    height: 380px;
    background: linear-gradient(#c9c6c6, #fcfcfd);
    border: none;
    border-radius: 12px;
    text-align: center;
}

.content-flex >h1:hover{
    text-decoration: underline;
    cursor: pointer;
}
.content-flex:hover{
    background: white; 
}
.contentwd3 .content-flex>h1{
    margin: 40px;
    margin-bottom: 10px;
}
.content-flex> img{
    margin-top: 52px;
    width: 100%;
    justify-content: baseline;
    border-radius: 0 0 15px 15px;
}
.content-flex> img:hover{
    /* transform: scale(1.1); */
     transform: translateY(0); 
   transform: translateY(-10px);
    z-index: 1;
    border-radius: 0 0 0 0;
}
.footerhg-1{
    margin-top: 50px;
    height: 200px;
    background: black;
    padding: 20px;
}
.footerhg-1 ul{
    padding: 10px;
}
.footerhg-1 ul li{
    padding: 8px;
    list-style: none;   
}
.footerhg-1 ul li a{
    text-decoration: none;
    color: white
}
.footerhg-1 ul li a>h4{
    color: rgba(241, 241, 241, 0.466);
    text-decoration: none;
}
.footerhg-2{
    height: 65px;
    top: 20px;
    background: black;
    color: rgba(241, 241, 241, 0.466);
    align-items: center;
    border-top: 1px solid rgb(105, 97, 97);
}
.footerhg-2 p{
margin-top: 10px;
padding: 8px;
}
.codepic{
    margin-top: 120px;
    width: 100%;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
.codepic div>span{
    display: flex;
margin-top: 35px;
padding: 55px;
}

.codepic input[type="button"]{
    margin-left: 73px;
    margin-top: 0;
    border-radius: 15px;
}
.codepic>img{
    margin: 12px;
    float: left;
    width: 45%;
}
